@import "index.less";

header {
    background-image: url();
    padding: 0;
    height: 140px;
}

main {
    h1 {
        font-family: @font-special;
        padding-top: 5rem;
    }
    .pill-cards {
        border-top: none;
        margin-top: 0;
        .pill {
            justify-content: flex-start;
            width: 400px;
        }
    }
}